body{
    background-color: #f6f6f6;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    width: 350px;
    margin: 40px auto;
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.header{
    text-align: center;
    color: #333;
}
.balance-container{
    text-align: center;
    margin: 20px 0;
}
.income-expense {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #dedede;
    border-radius: 10px;
    background-color: #f9f9f9;
  }
  
  .money {
    font-size: 20px;
    font-weight: bold;
  }
  
  .plus {
    color: green;
  }
  
  .minus {
    color: red;
  }

  .list{
    margin-top: 30px;
  }
  .list-items{
    list-style-type: none;
    padding: 0;
  }
  .list-items li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border-right: 5px solid;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
  }
  .plus{
    border-color: green;
  }
  .minus{
    border-color: red;
  }

  .tx-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
  }
  .delete-btn{
    background-color: transparent;
    border: none;
    font-size: 15px;
    cursor: pointer;
   margin-left: 0px;
  }
  .form {
    margin-top: 30px;
  }
  
  .form h3 {
    margin-bottom: 10px;
  }
  
  .form input {
    width: 90%;
    padding: 10px;
    margin: 8px 0 20px 0;
    border: 1px solid #ddd;
    border-radius: 6px;
  }
  
  .btn {
    width: 100%;
    padding: 10px;
    background-color: #5c5cff;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #3a3ad6;
  }
  
  